{% extends 'base.html' %}


{% block title %}
    Sign Up
{% endblock %}

{% block style %}
<style>
    .m_form{
        display: flex;
        flex-direction: column;

    }

    .m_inp_field{
        padding: 10px 15px;
        margin: 10px 0;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
    }

    .m_submit_btn{
        padding: 10px 15px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: #2c6cdc;
        color: white;
        font-size: 16px;
        cursor: pointer;

        transition: all ease .3s;
    }

    .m_submit_btn:hover{
        background-color: #1f5abf;
    }

    .m_card{
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.15);
    }
</style>
{% endblock %}


{% block content %}
    <div style="box-shadow: inset 5px 0px 10px -3px rgba(0,0,0,0.15); padding: 20px 30px">

        <div class="m_card" style="width: 325px;">
            <div style="font-size: 22px; margin-bottom: 12px;">Sign Up</div>
            <div>

                <form class="m_form" method="POST">
                    <!-- No idea how, but these dummy fields helps "autocomplete:off" :P  -->
                    <input name = "DummyUsername" type="text" style="display:none;">
                    <input name = "DummyPassword" type="password" style="display:none;">
                    {% csrf_token %}
                    {{ form.username }}
                    <div style="color: gray; margin-left: 15px; font-size: 12px;"> {{ form.username.help_text }} </div>
                    {% if form.username.errors %} <div style="font-size: 12px;"> {{ form.username.errors }} </div> {% endif %}

                    {{ form.email }}
                    
                    {{ form.password1 }}

                    {% if form.password1.errors %} 
                        <div style="font-size: 12px;"> {{ form.password1.errors }} </div>
                    {% endif %}

                    {{ form.password2 }}
                    {% if form.password2.errors %} <div style="font-size: 12px;"> {{ form.password2.errors }} </div> {% endif %}

                    <input class="m_submit_btn" type="submit" value="Sign Up">
                </form>

            </div>
        </div>
          

    </div>
{% endblock %}

