.index{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: inset 5px 0px 10px -3px rgba(0,0,0,0.15);
}

.index-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-bottom: #8e8e8d solid 1px;

    padding: 10px 10px;
    font-size: 19px;
    font-weight: 600;
}

.m_btn{
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2c6cdc;
    color: white;
    font-size: 16px;
    cursor: pointer;

    transition: all ease .3s;
}

.m_btn:hover{
    background-color: #1f5abf;
}

.todo-items{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.todo-text-card{
    background-color: white;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.15);

    display: flex;
    align-items: center;
    gap: 10px;
}

.m_checkbox{
    width: 14px;
    height: 14px;
}

.todo-inp-field{
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
}

.todo-inp-field:focus{
    outline: none;
}

.group{
    display: flex;
    flex-direction: column;
}

.group-header{
    display: flex;
    align-items: center;

    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    color: #292827;

}

.group-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    margin: 10px 20px;

}

.fa-angle-down{
    transition: all ease .3s;
}

.text-btn{
    border: none;
}