.title{
    margin-bottom: 0 !important;
}

.m_sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 60px 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item{
    padding: 15px 6px;
    color: #8e8e8d;
    font-size: 14px;
    transition: all ease .3s;
}

.list-item:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    color: #292827;
}

.list_icon{
    padding: 0 20px;
    font-size: 14px;
}

.m_icon:hover {
    background-color: rgba(0, 0, 0, .1);
}

.logo {
    padding: 15px 0;
    color: white;
}

.logo:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}