{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'third_party/all.min.css' %}">

    <style>


        body{
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #faf9f8;

        }

        .content {
            display: grid;

            grid-template-columns: 280px 1fr;

            height: 94.5svh;
        }

    </style>

    {% block style %}
    {% endblock %}

</head>
<body>
    
    {% include 'navbar.html' %}

    <div class="content">
        {% include 'sidebar.html' %}

        {% block content %}
        {% endblock %}
    </div>

    {% block script %}
    {% endblock %}

</body>
</html>