{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'profiles/sidebar.css' %}">

{% endblock %}


<div class="m_sidebar">
    {% if not request.user.is_authenticated %}
    <ul>
        <a href="{% url 'profiles:sign_in' %}"><li class="list-item" id="SignInBtn"><i class="list_icon fa-solid fa-sign-in"></i> Sign In</li></a>
        <a href="{% url 'profiles:sign_up' %}"><li class="list-item" id="SignUpBtn"><i class="list_icon fa-solid fa-sign-up"></i></i> Sign Up</li></a>
    </ul>
    <hr width="85%" color="#e1dfdd">
    {% endif %}
    <ul>
        <a href="{% url 'index:today' %}"><li class="list-item" id="todayBtn"><i class="list_icon fa-regular fa-sun"></i> Today</li></a>
        <a href="#"><li class="list-item"><i class="list_icon fa-regular fa-star"></i> Important</li></a>
        <a href="#"><li class="list-item"><i class="list_icon fa-regular fa-calendar"></i> Plans</li></a>
    </ul>
    <hr width="85%" color="#e1dfdd">
    <ul>

        {% for i in request.user.profile.projects.all %}
            <a href="{% url 'index:project' i.slug %}"><li class="list-item"><i class="list_icon fa-regular fa-circle"></i> {{ i.title }} </li></a>
        {% endfor %}
        <a href="{% url 'index:create_new_project' %}"><li style="color: #2564cf;" class="list-item"><i class="list_icon fa-regular fa-plus"></i> New Project</li></a>
    </ul>
    <hr width="85%" color="#e1dfdd">
    <ul>
        {% for i in request.user.profile.projects_allowed_in.all %}
            <a href="{% url 'index:project' i.slug %}"><li class="list-item"><i class="list_icon fa-regular fa-circle"></i> {{ i.title }} </li></a>
        {% endfor %}

    </ul>

</div>

<script>
    // Change the hard-coded part later!
    if(window.location.pathname === '{% url "index:today" %}'){
        document.getElementById('todayBtn').style.backgroundColor = '#eff6fc';
        document.getElementById('todayBtn').style.borderLeft = '2px solid #2564cf';
        document.getElementById('todayBtn').style.color = '#292827';
    } else if (window.location.pathname === ''){
        document.getElementById('important-btn').style.backgroundColor = '#eff6fc';
        document.getElementById('today-btn').style.color = '#292827';
    } else if (window.location.pathname === ''){
        document.getElementById('plans-btn').style.backgroundColor = '#eff6fc';
        document.getElementById('today-btn').style.color = '#292827';
    } else if (window.location.pathname === '{% url "profiles:sign_in" %}'){
        document.getElementById('SignInBtn').style.backgroundColor = '#eff6fc';
        document.getElementById('SignInBtn').style.color = '#292827';
    } else if (window.location.pathname === '{% url "profiles:sign_up" %}'){
        document.getElementById('SignUpBtn').style.backgroundColor = '#eff6fc';
        document.getElementById('SignUpBtn').style.color = '#292827';
    }


</script>

