{% block style %}

<style>
    .title{
        margin-bottom: 0 !important;
    }

    .m_sidebar{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 60px 0;
    }
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-item{
        padding: 15px 6px;
        color: #8e8e8d;
        font-size: 14px;
        transition: all ease .3s;
    }

    .list-item:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, .1);
        color: #292827;
    }

    .list_icon{
        padding: 0 20px;
        font-size: 14px;
    }

    .m_icon:hover {
        background-color: rgba(0, 0, 0, .1);
    }

    .logo {
        padding: 15px 0;
        color: white;
    }

    .logo:hover{
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

</style>

{% endblock %}


<div class="m_sidebar">
    {% if not request.user.is_authenticated %}
    <ul>
        <a href="{% url 'profiles:sign_in' %}"><li class="list-item" id="SignInBtn"><i class="list_icon fa-solid fa-sign-in"></i> Sign In</li></a>
        <a href="{% url 'profiles:sign_up' %}"><li class="list-item" id="SignUpBtn"><i class="list_icon fa-solid fa-sign-up"></i></i> Sign Up</li></a>
    </ul>
    <hr width="85%" color="#e1dfdd">
    {% endif %}
    <ul>
        <a href="{% url 'index:today' %}"><li class="list-item" id="todayBtn"><i class="list_icon fa-regular fa-sun"></i> Today</li></a>
        <a href="#"><li class="list-item"><i class="list_icon fa-regular fa-star"></i> Important</li></a>
        <a href="#"><li class="list-item"><i class="list_icon fa-regular fa-calendar"></i> Plans</li></a>
    </ul>
    <hr width="85%" color="#e1dfdd">
    <ul>
        <a href="#"><li style="color: #2564cf;" class="list-item"><i class="list_icon fa-regular fa-plus"></i> New List</li></a>
    </ul>
</div>

<script>
    if(window.location.pathname === '{% url "index:today" %}'){
        document.getElementById('todayBtn').style.backgroundColor = '#eff6fc';
        document.getElementById('todayBtn').style.borderLeft = '2px solid #2564cf';
        document.getElementById('todayBtn').style.color = '#292827';
    } else if (window.location.pathname === ''){
        document.getElementById('important-btn').style.backgroundColor = '#eff6fc';
        document.getElementById('today-btn').style.color = '#292827';
    } else if (window.location.pathname === ''){
        document.getElementById('plans-btn').style.backgroundColor = '#eff6fc';
        document.getElementById('today-btn').style.color = '#292827';
    } else if (window.location.pathname === '{% url "profiles:sign_in" %}'){
        document.getElementById('SignInBtn').style.backgroundColor = '#eff6fc';
        document.getElementById('SignInBtn').style.color = '#292827';
    } else if (window.location.pathname === '{% url "profiles:sign_up" %}'){
        document.getElementById('SignUpBtn').style.backgroundColor = '#eff6fc';
        document.getElementById('SignUpBtn').style.color = '#292827';
    }


</script>

