{% extends 'main/base.html' %}


{% block content %}

<div class="m_border px-2" style="position: absolute; left: 5svw; bottom: 3svh;">
    <form class="d-flex align-items-center" action="{% url 'main:create_project' %}" method="POST">
        {% csrf_token %}
        <input class="mx-2 px-2 focus-ring shadow-none m_border" placeholder="New project title here." type="text" name="title" id="new_project_title_input">

        {% if request.user.is_authenticated %}
        <button class="btn m-2 p-2" type="submit">Create</button>
        {% else %}
        <button class="btn m-2 p-2" type="submit" disabled>Create</button>
        {% endif %}
    </form>
</div>

<div class="d-flex">

    <div class="d-flex align-items-center m_border" style="margin: 5svh 0 0 10svw; width: 50svw;">
        {% for project in projects %}
        <div class="m-3 p-2 m_border">
            <span class="m-2">{{ project.title }}</span>
            <a href="{% url 'main:project_page' project.id %}" class="m-2 btn btn-primary">Enter</a>
            {% if request.user == project.user %}
            <a href="{% url 'main:delete_project' project.id %}" class="m-1 btn btn-danger">Delete</a>
            {% endif %}
        </div>

        {% endfor %}

    </div>
    <div class="p-3 d-flex flex-column align-items-center m_border" style="margin: 5svh 0 0 10svw; width: 20svw;">
        {% if request.user.is_authenticated %}
        <span class="mb-2"> {{ request.user.username }} </span>
        <a href="{% url 'main:sign_out' %}" class="d-flex justify-content-center m_border" style="min-width: 150px;">
            Sign_out
        </a>

        {% else %}
        <a href="{% url 'main:sign_in' %}" class="mb-2 d-flex justify-content-center m_border" style="min-width: 150px;">
            Sign_in
        </a>
        <a href="{% url 'main:sign_up' %}" class="mb-2 d-flex justify-content-center m_border" style="min-width: 150px;">
            Sign_up
        </a>
        {% endif %}

    </div>

    
</div>


{% endblock %}
